{% comment %}
------------------------------------------------------------------------------
  Section: Customers reset password (customers-reset-password)
  - Static section.
------------------------------------------------------------------------------
{% endcomment %}
{{ 'component.customers-reset-password.css' | asset_url | stylesheet_tag }}

<section
   class="customers critical-customers-clear"
  aria-labelledby="template-title"
  data-component-handle="customers-reset-password"
>
  <div
    class="
      customers-reset-password
      customers__onboarding
      {% if settings.customers_onboarding_image != blank %}
        customers__onboarding--has-image
      {% endif %}
      critical-component-clear
      liquid
    "
  >
    <div class="customers__onboarding-content grid container">
      <div class="customers__onboarding-forms col xs-span l4-11">
        {% render 'reset-password-form' %}
      </div>
    </div>
  </div>
</section>

{% schema 'customers-reset-password' %}
