// stylelint-disable color-no-hex

/**
 * Styles: Customers reset password (customers-reset-password)
 * -----------------------------------------------------------------------------
 * Base styles for customers reset password component.
 *
 */
.customers-reset-password {
  &.critical-component-hide {
    display: block;
  }

  &.critical-component-clear {
    opacity: 1;
  }

  .form-group {
    grid-template: unset;
    margin-inline: auto;
    max-width: 550px;
  }

  &__title {
    color: #27271f;
    letter-spacing: var(--spacing-2xs);
    text-align: center;
    text-transform: uppercase;
  }

  &__email {
    color: #27271f;
    letter-spacing: var(--spacing-4xs);
    text-align: center;
  }
}
