{% comment %}
------------------------------------------------------------------------------
  Snippet: country-select (country-select)
------------------------------------------------------------------------------
{% endcomment %}
<div class="country-select is-loading liquid">
  <div class="country-select__flag"></div>
  <div class="country-select__select"></div>
  {% render 'icon-directional-navigation' with
    icon: 'chevron',
    direction: 'down',
  %}
</div>
