{% comment %}
-----------------------------------------------------------------------------
  Snippet: Forgot password form (customers-login)
-----------------------------------------------------------------------------
{% endcomment %}
{%- liquid
  assign forgot_password_cta_string = 'customers.login.forgot_password.cta' | t
  assign cancel_string = 'customers.login.title' | t
-%}

<p
  class="text-mobile-p account-forms__error is-hidden mb-m"
  js-account="forgot-password-error"
>
  {% render 'icon-general' with icon: 'info-circle' %}
  <span class="account-forms__error-text ml-s"></span>
</p>

{% form 'recover_customer_password' %}
  <div class="form-group{% if form.errors %} has-error{% endif %}">
    {% if form.posted_successfully? %}
      <input
        type="hidden"
        value="true"
        js-forgot-password="successCheck"
      >
    {% endif %}

    <div class="form-group__field">
      <input
        id="forgot-password-email"
        autocomplete="email"
        name="email"
        placeholder="{{ 'customers.fields.email.placeholder' | t }}"
        required
        spellcheck="false"
        type="email"
        {% if form.errors %}
          aria-describedby="forgot-password-errors"
          aria-invalid="true"
        {% endif %}
      >

      <label
        class="form-group__label text-body-m-regular"
        for="forgot-password-email"
      >
        {{ 'customers.fields.email.label' | t }}

      <abbr title="{{ 'customers.fields.required.label' | t }}">
        {{ 'customers.fields.required.symbol' | t }}
      </abbr>
    </label>
  </div>

  <div
    class="
      customers__onboarding-form-footer
      customers__onboarding-form-footer--small-gap
      form-group__footer
    "
  >
    {% render 'form-errors' with
      class_container: 'customers-login__forgot-password-errors',
      form: form,
      namespace: 'forgot-password',
    %}

    {% render 'btn' with
      attributes: 'js-forgot-password="submit"',
      class: 'customers__submit',
      label: forgot_password_cta_string,
      type: 'submit',
    %}

    {% render 'btn'
      attributes: 'js-forgot-password="cancel"',
      class: 'customers__sign-in',
      label: cancel_string,
      modifiers: 'secondary block center',
      type: 'button',
    %}
  </div>
</div>
{% endform %}
