{% comment %}
------------------------------------------------------------------------------
  Snippet: General link (general-link)
------------------------------------------------------------------------------
{% endcomment %}
<div class="general-link is-loading liquid">
</div>
