/**
 * Styles: Cart drawer (cart-drawer)
 * -----------------------------------------------------------------------------
 * Base styles for the cart drawer.
 *
 */
.cart-drawer {
  $parent: &;
  display: flex;
  flex-direction: column;

  &.critical-component-hide {
    display: flex;
  }

  &.critical-component-clear {
    opacity: 1;
  }

  &__loading {
    --loading-transition-delay: 50ms;
    --loading-transition-duration: 1s;
    align-items: center;
    cursor: wait;
    display: flex;
    inset: 0;
    justify-content: center;

    // click blocker
    pointer-events: auto;
    position: absolute;
    z-index: 1;

    > * {
      // visually align to center
      margin-block-end: 40px;
    }
  }

  &__line-item {
    .images__image {
      object-fit: contain;
    }
  }

  &__form,
  &__line-items,
  &__footer {
    // Minus drawer padding
    margin-inline-start: calc(var(--spacing-m) * -1);
    padding-block-end: var(--spacing-m);
    padding-block-start: 0;
    padding-inline-end: var(--spacing-m);
    padding-inline-start: var(--spacing-m);
    // Width + drawer padding
    width: calc(100% + (var(--spacing-m) * 2));
  }

  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-block-start: var(--spacing-xl);
    overflow: hidden;
    padding-block-end: 0;
  }

  &__line-items {
    @include custom-scrollbar;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-block-end: 0;
    position: relative;

    &--body {
      display: flex;
      flex-direction: column;
      height: 100%;

      &.is-loading {
        opacity: 0.15;
        pointer-events: none;
      }
    }
  }

  &__freeSamples.is-loading {
    opacity: 0;
    transition: none;
  }

  &__details {
    border-top: 1px solid var(--color-cool);
    color: var(--color-stone);
    margin-block-end: 0;
    margin-block-start: auto;
    padding-block-start: var(--spacing-l);

    &.is-loading {
      opacity: 0;
      transition: none;
    }
  }

  &__details-table {
    width: 100%;

    th {
      padding-block-end: var(--spacing-xs);
      text-align: left;
    }

    td {
      padding-block-end: var(--spacing-xs);
      text-align: right;
    }

    tr:last-child {
      th, td {
        padding-block-end: var(--spacing-l);
      }
    }
  }

  &__footer {
    background-color: var(--clouds);
    border-block-start: 1px solid var(--color-neutral-4);
    box-shadow: 32px 0 64px 0 rgb(0 0 0 / 16%);
    padding-block-start: var(--spacing-m);

    .cart-summary__total {
      // Desired margin - grid gap
      margin-block-end: calc(var(--spacing-m) - var(--spacing-xs));
    }
  }

  /**
   * Empty state.
   */
  &__empty {
    color: var(--color-stone);
    display: flex;
    flex-direction: column;
  }

  &__close {
    // Double selector to add weigh specificity.
    &#{&} {
      font-weight: var(--font-weight-demi-bold);
      // matches designs
      height: 50px;
      margin-block-start: var(--spacing-xl);
      // matches designs
      max-width: 220px;
      padding: 0;
    }
  }

  /**
   * Media queries.
   */
  @include mq($from: l) {
    &__form,
    &__line-items,
    &__footer {
      // Minus drawer padding
      margin-inline-start: calc(var(--spacing-l) * -1);
      padding-block: 0 var(--spacing-xl);
      padding-inline: var(--spacing-l);
      // Width + drawer padding
      width: calc(100% + (var(--spacing-l) * 2));
    }

    &__line-items {
      padding-block-end: 0;
    }

    &__form {
      padding-block-end: 0;
    }

    &__footer {
      padding-block-start: var(--layout-page-spacing);
    }
  }
}
