/**
 * Styles: Social sharing (social-sharing)
 * -----------------------------------------------------------------------------
 * Base styles for social sharing component.
 *
 */
.social-sharing {
  align-items: center;
  display: flex;
  gap: var(--spacing-m);
  justify-content: center;
}
