{% comment %}
------------------------------------------------------------------------------
  Section: mega-nav (mega-nav)
------------------------------------------------------------------------------
{% endcomment %}
<section
  aria-labelledby="section-title-{{ section.id }}"
>
  <mega-nav
    v-show="getComponentVisible('mega-nav')"
    v-cloak
    :liquid="{
      sectionId: {{ section.id | json | escape }}
    }"
  ></mega-nav>
</section>

{% schema 'mega-nav' %}
