/**
 * Styles: Impact image (impact-image)
 * -----------------------------------------------------------------------------
 * Base styles for impact image component.
 *
 */
.impact-image {
  gap: var(--spacing-l);
  padding-block: var(--spacing-3xl);

  &.critical-component-hide {
    display: block;
  }

  &.critical-component-clear {
    opacity: 1;
  }

  &__video {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
  }

  &__title {
    color: var(--color-stone);
    margin-block-end: var(--spacing-xl);
  }

  &__text {
    color: var(--color-stone);
    margin-block-end: var(--spacing-4xl);

    p {
      @include text-mobile-p;
    }
  }

  @include mq($from: l) {
    padding: var(--spacing-4xl) var(--spacing-xl) calc(var(--spacing-7xl) - var(--spacing-3xs));

    &__media {
      order: 2;
    }

    &__text-content {
      order: 1;
    }

    &__title {
      margin-block-end: var(--spacing-l);
    }

    &__btn-block {
      align-self: self-end;
      justify-self: self-end;
    }

    &__text {
      margin-block-end: 0;
      // Max-width match to design.
      max-width: 670px;
    }
  }
}
