{% comment %}
-----------------------------------------------------------------------------
  Section: Main password
-----------------------------------------------------------------------------
{% endcomment %}
{%- liquid
  assign submit_string = 'password_page.sign_in' | t
-%}

<section
  class="password container liquid"
  aria-labelledby="template-title"
>
  <div class="password__content">
    <h1
      id="template-title"
      class="password__title text-heading-2xl text-heading-3xl-desktop"
    >
      {{ 'password_page.title' | t }}
    </h1>

    {% if shop.password_message != blank %}
      <p class="password__message text-body-m-regular">
        {{ shop.password_message | newline_to_br }}
      </p>
    {% endif %}

    {% form 'storefront_password' %}
      {%- liquid
        assign form_errors = ''

        for error in form.errors
          capture form_errors
            echo form_errors
            echo '<p class="password__error form-group__note text-body-m-regular text-body-l-regular">'
              unless error == 'form'
                echo form.errors.translated_fields[error] | capitalize | append: ' '
              endunless
                echo form.errors.messages[error] | append: ' '
            echo '</p>'
          endcapture
        endfor
      -%}

      <div class="form-group">
        <div class="form-group__field">
          <label
            class="form-group__label"
            for="password"
          >
            {{ 'password_page.label' | t }}
          </label>

          <input
            id="password"
            {% if form.errors contains error_type %}
              class="has-error"
            {% endif %}
            name="password"
            type="password"
            {% if form.errors contains 'password' %}
              aria-describedby="password-errors"
              aria-invalid="true"
            {% endif %}
          >

          {% if form_errors != '' %}
            <div
              id="password-errors"
              class="password__error-container"
            >
              {{ form_errors }}
            </div>
          {% endif %}
        </div>

        <div class="form-group__footer">
          {% render 'btn' with
            class: 'password__submit',
            label: submit_string,
            type: 'submit',
          %}
        </div>
      </div>
    {% endform %}
  </div>
</section>

{% schema 'main-password' %}
