/**
 * Styles: Menu drawer overlay
 * -----------------------------------------------------------------------------
 * Override styles for menu drawer overlay.
 *
 */
.menu-drawer-overlay {
  min-height: 100%;
  width: 100vw;

  &__header {
    justify-content: flex-end;
    padding-inline-end: var(--spacing-l);
    padding-inline-start: var(--spacing-l);
  }

  &__container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-inline-end: 0;
    padding-inline-start: 0;
  }
}
