/**
 * Base: Critical
 * -----------------------------------------------------------------------------
 * Base critical styles.
 *
 */
// stylelint-disable selector-max-id, selector-type-no-unknown

@import '@/config/variables-css';
@import '@/base/classes-critical';

/**
 * Define base CSS variables.
 */
:root {
  --viewport-height: 100%;

  /**
   * Header height starting values.
   */
  --header-mobile-height: '{{ settings.header_mobile_height | default: 105 | append: "px" }}';
  --header-tablet-height: '{{ settings.header_tablet_height | default: 105 | append: "px" }}';
  --header-desktop-height: '{{ settings.header_desktop_height | default: 106 | append: "px" }}';

  /**
   * Responsive layout variables.
   * - Do not remove.
   */
  --header-height: var(--header-mobile-height);
  --layout-column: var(--layout-mobile-column);
  --layout-gutter: var(--layout-mobile-gutter);
  --layout-margin: var(--layout-mobile-margin);
  --layout-padding-bottom: var(--layout-mobile-padding-bottom);
  --layout-padding-top: var(--layout-mobile-padding-top);
  --layout-page-spacing: var(--layout-mobile-page-spacing);

  @include mq($from: m) {
    --header-height: var(--header-tablet-height);
    --layout-column: var(--layout-tablet-column);
    --layout-gutter: var(--layout-tablet-gutter);
    --layout-margin: var(--layout-tablet-margin);
    --layout-padding-bottom: var(--layout-tablet-padding-bottom);
    --layout-padding-top: var(--layout-tablet-padding-top);
    --layout-page-spacing: var(--layout-tablet-page-spacing);
  }

  @include mq($from: l) {
    --header-height: var(--header-desktop-height);
    --layout-column: var(--layout-desktop-column);
    --layout-gutter: var(--layout-desktop-gutter);
    --layout-margin: var(--layout-desktop-margin);
    --layout-padding-bottom: var(--layout-desktop-padding-bottom);
    --layout-padding-top: var(--layout-desktop-padding-top);
    --layout-page-spacing: var(--layout-desktop-page-spacing);
  }
}

/**
 * Body styles.
 */
body {
  background-color: var(--color-neutral-6);
  color: var(--color-neutral-2);
  overflow-x: hidden;

  a {
    color: var(--color-neutral-2);
  }
}

/**
 * Hide/clear helpers.
 */
.critical-hide,
.critical-component-hide,
.critical-customers-hide {
  display: none;
}

.critical-clear,
.critical-component-clear,
.critical-customers-clear {
  @include transition(opacity);
  opacity: 0;
}

/**
 * Display helpers.
 */
overlay,
[v-cloak],
.is-hidden,
.main-content .shopify-section {
  display: none;
}

.main-content .shopify-section:first-child {
  display: inherit;
}

.invisible-tab {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.visually-hidden {
  @include visually-hidden;
}

/**
 * App proxy
 */
.app-handler {
  @include transition(opacity);
  background-color: var(--color-neutral-6, rgb(255 255 255));
  height: 100vh;
  opacity: 0;
  position: absolute;
  width: 100vw;
  z-index: var(--layer-heightened);

  &.is-visible {
    opacity: 1;
  }
}

/**
 * Design mode duplicate instance styles.
 */
#vue-design-mode-element {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;

  * {
    pointer-events: none;
  }
}
